.ncv-tree-navigation {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.ncv-topic-entry {
  display: grid;
  grid-template-columns: auto auto;
}

.ncv-topic-selected {
  font-weight: bold !important;
}

.mat-list-base .mat-list-item .mat-line:nth-child(n+2) {
  color: rgba(0,0,0,.54);
}

.ncv-rotate-clockwise {
  transform: rotateZ(90deg);
}

.ncv-topic-list {
  border-top: 1px solid #c9c9c9;
}
