<mat-card>
  <mat-card-title>
    <div class="dnd-tree-navigation">
      <button mat-icon-button
              aria-label="Top level"
              [disabled]="path.length === 0"
              (click)="goToTop()">
        <mat-icon class="dnd-rotate-clockwise">first_page</mat-icon>
      </button>
      <button mat-icon-button
              aria-label="Breadcrumbs"
              [disabled]="!canShowBreadcrumbList"
              (click)="toggleBreadcrumbPanelVisibility()">
        <mat-icon [color]="navigationPanel === 'breadcrumbs' ? 'primary' : ''">account_tree</mat-icon>
      </button>
      <button mat-icon-button aria-label="Find topic" (click)="toggleSearchBoxVisibility()">
        <mat-icon [color]="navigationPanel === 'searchBox' ? 'primary' : ''">search</mat-icon>
      </button>
      <button mat-icon-button aria-label="Add topic" (click)="addTopic()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-title>

  <mat-card-content>
    <mat-divider></mat-divider>

    <div *ngIf="navigationPanel === 'searchBox'" @panelToggle>
      <mat-form-field class="dnd-full-width dnd-margin-top">
        <input matInput aria-label="Find topic" [(ngModel)]="searchPhrase" placeholder="Find topic"/>
      </mat-form-field>
    </div>
    
    <mat-list class="dnd-breadcrumbs">
      <mat-list-item *ngIf="path.length === 0 || navigationPanel === 'breadcrumbs'; else backItem" @squeezeOut (click)="goToTop()">
        <h4 mat-line>{{ npcName }} 's topics</h4>
        <p mat-line><dnd-topic-children-stats [source]="dialogue"></dnd-topic-children-stats></p>
      </mat-list-item>
      <ng-template #backItem>
        <mat-list-item aria-label="Parent topic (click to open)" (click)="back()">
          <mat-icon mat-list-icon @popInOut>arrow_upward</mat-icon>
          <h4 mat-line @moveOver>{{ parentTopic.label }}</h4>
          <p mat-line @moveOver><dnd-topic-children-stats [source]="parentTopic"></dnd-topic-children-stats></p>
        </mat-list-item>
      </ng-template>

      <div *ngIf="navigationPanel === 'breadcrumbs' && canShowBreadcrumbList" @panelToggle>
        <mat-list-item *ngFor="let breadcrumb of breadcrumbTopics; let i = index; let last = last" @popInOut (click)="last ? back() : goToPath(i)">
          <mat-icon mat-list-icon>{{ last ? 'arrow_upward' : 'subdirectory_arrow_right' }}</mat-icon>
          <h4 mat-line>{{ breadcrumb.label }}</h4>
          <p mat-line><dnd-topic-children-stats [source]="breadcrumb"></dnd-topic-children-stats></p>
        </mat-list-item>
      </div>
    </mat-list>

    <div *ngIf="navigationPanel === 'breadcrumbs'; else divider" class="dnd-vertical-text-splitter">
      <span>{{ parentTopic.label }}</span>
    </div>
    <ng-template #divider>
      <mat-divider></mat-divider>
    </ng-template>

    <mat-list *ngIf="topics.length > 0; else emptyTopicList" cdkDropList (cdkDropListDropped)="drop($event)">
      <mat-list-item *ngFor="let topic of topics; let i = index" class="dnd-topic-entry" (click)="open(i)" cdkDrag>
        <h3 mat-line [class.dnd-topic-selected]="i === selectedIndex">{{ topic.label }}</h3>
        <p mat-line><dnd-topic-children-stats [source]="topic"></dnd-topic-children-stats></p>
        <button mat-icon-button [attr.aria-label]="'Open ' + topic.label" (click)="onTopicClicked(i, $event)">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <ng-template #emptyTopicList>
      <mat-list>
        <mat-list-item (click)="addTopic()">
          The list is empty. Add a topic
        </mat-list-item>
      </mat-list>
    </ng-template>
    
  </mat-card-content>
</mat-card>
