<mat-card>
  <mat-card-title>

    <div class="ncv-tree-navigation">
      <button mat-icon-button aria-label="Top level" (click)="goToTop()" [disabled]="path.length === 0">
        <mat-icon class="ncv-rotate-clockwise">first_page</mat-icon>
      </button>
      <button mat-icon-button aria-label="Breadcrumbs" (click)="toggleBreadcrumbPanelVisibility()" [disabled]="!canShowBreadcrumbList">
        <mat-icon [color]="panelAboveContent === 'breadcrumbs' ? 'primary' : ''">account_tree</mat-icon>
      </button>
      <button mat-icon-button aria-label="Find topic" (click)="toggleSearchBoxVisibility()">
        <mat-icon [color]="panelAboveContent === 'searchBox' ? 'primary' : ''">search</mat-icon>
      </button>
      <button mat-icon-button aria-label="Add topic" (click)="addTopic()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </mat-card-title>

  <mat-form-field *ngIf="panelAboveContent === 'searchBox'" class="ncv-full-width">
    <input matInput [(ngModel)]="searchPhrase" placeholder="Find topic"/>
  </mat-form-field>

  <mat-list>
    <ng-container *ngIf="panelAboveContent === 'breadcrumbs' && canShowBreadcrumbList">
      <mat-list-item (click)="goToTop()">
        <h4 mat-line>{{ npcName }} 's topics (top level)</h4>
        <p matLine><ng-container *ngTemplateOutlet="subLine; context: {$implicit: dialogue}"></ng-container></p>
      </mat-list-item>
      <mat-list-item *ngFor="let breadcrumb of breadcrumbTopics; let i = index" (click)="goToPath(i)">
        <mat-icon mat-list-icon>subdirectory_arrow_right</mat-icon>
        <h4 mat-line>{{ breadcrumb.label }}</h4>
        <p matLine><ng-container *ngTemplateOutlet="subLine; context: {$implicit: breadcrumb}"></ng-container></p>
      </mat-list-item>
    </ng-container>

    <mat-list-item *ngIf="path.length > 0" aria-label="Parent topic (click to open)" (click)="back()">
      <mat-icon mat-list-icon>arrow_upward</mat-icon>
      <h4 mat-line>{{ parentTopic.label }}</h4>
      <p matLine><ng-container *ngTemplateOutlet="subLine; context: {$implicit: parentTopic}"></ng-container></p>
    </mat-list-item>

    <mat-list-item *ngIf="path.length === 0">
      <h4 mat-line>{{ npcName }} 's topics</h4>
      <p matLine><ng-container *ngTemplateOutlet="subLine; context: {$implicit: dialogue}"></ng-container></p>
    </mat-list-item>
  </mat-list>

  <mat-card-content [class.ncv-topic-list]="panelAboveContent === 'breadcrumbs'">
    <mat-list *ngIf="topics.length > 0; else emptyTopicList">
      <mat-list-item
        *ngFor="let topic of topics; let i = index"
        class="ncv-topic-entry"
        (click)="onTopicClicked(i)"
      >
        <h3 matLine [class.ncv-topic-selected]="i === selectedTopic">{{ topic.label }}</h3>
        <p matLine><ng-container *ngTemplateOutlet="subLine; context: {$implicit: topic}"></ng-container></p>
        <button mat-icon-button [attr.aria-label]="'Open ' + topic.label" (click)="open(i)">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <ng-template #emptyTopicList>
      <mat-list>
        <mat-list-item (click)="addTopic()">
          The list is empty. Add a topic
        </mat-list-item>
      </mat-list>
    </ng-template>
  </mat-card-content>
</mat-card>

<!-- TODO create a separate component or pipe to display -->
<ng-template #subLine let-container>
  {{ container.topics.length }} immediate children, {{ container.topics.count }} total
</ng-template>
