.dnd-tree-navigation {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.dnd-topic-entry {
  display: grid;
  grid-template-columns: auto auto;
}

.dnd-topic-selected {
  font-weight: bold !important; // TODO try to replace with a better selector
}

.mat-list-base .mat-list-item .mat-line:nth-child(n+2) {
  color: rgba(0,0,0,.54);
}

.dnd-rotate-clockwise {
  transform: rotateZ(90deg);
}

mat-list.dnd-breadcrumbs {
  padding-top: 0;
}
