mat-list {
  padding-top: 0;
}

@media only screen and (min-width: 600px) {
  mat-list-item:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  }

  .dnd-item-header {
    width: calc(100% - 32px);
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    background: rgba(0, 0, 0, 0.04);
  }

  .dnd-entity-row {
    grid-template-columns: 2fr 1fr 64px 64px repeat(4, 48px);
  }

  .dnd-item-number {
    justify-self: right;
    padding-right: 8px;
  }

  .dnd-item-checkbox {
    justify-self: center;
  }
}
