.ncv-topic-clickable {
  cursor: pointer;
}

.ncv-topic-basics {
  margin-bottom: 16px;
}

.ncv-topic-flags {
  margin-top: 10px;

  @media only screen and (max-width: 449px) {
    mat-checkbox:nth-child(2n) {
      float: right;
    }
  }

  @media only screen and (min-width: 450px) {
    mat-checkbox {
      margin-right: 20px;
    }
  }
}

mat-form-field {
  width: 100%;
}
