<div *ngIf="!edit" class="dnd-topic-clickable">
  <span (click)="onClick($event)">{{ topic.label }}</span>
</div>

<div *ngIf="edit">
  <mat-card class="dnd-topic-basics">
    <mat-form-field class="dnd-full-width">
      <textarea #topicContent [(ngModel)]="topic.label" [maxlength]="maximumLength" matInput placeholder="Topic text"
        matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
      <mat-hint align="end">{{topicContent.value?.length || 0}}/{{maximumLength}}</mat-hint>
    </mat-form-field>
    <div class="dnd-topic-flags">
      <mat-checkbox [(ngModel)]="topic.goodbye">Goodbye</mat-checkbox>
      <mat-checkbox [(ngModel)]="topic.backToStart">Back to start</mat-checkbox>
    </div>
  </mat-card>

  <div class="dnd-margin-sides">
    <mat-accordion>

      <mat-expansion-panel [expanded]="isLinesOpen" (opened)="openLinesPanel()">
        <mat-expansion-panel-header>
          <mat-panel-title>Lines</mat-panel-title>
          <mat-panel-description>What is the NPC saying?</mat-panel-description>
        </mat-expansion-panel-header>

          <dnd-line-container 
            *ngIf="isLinesOpen"
            [lines]="topic.lines"
            (delete)="deleteLine($event)"
          >
          </dnd-line-container>
        
          <mat-action-row *ngIf="isLinesOpen">
            <button mat-button color="primary" (click)="addLine()">Add</button>
          </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="isActionsOpen" (opened)="openActionsPanel()">
        <mat-expansion-panel-header>
          <mat-panel-title>Actions</mat-panel-title>
          <mat-panel-description>What should happen?</mat-panel-description>
        </mat-expansion-panel-header>
        
        <dnd-action-list
          *ngIf="isActionsOpen"
          #actionList
          [actionContainer]="topic"
        ></dnd-action-list>

        <mat-action-row *ngIf="isActionsOpen">
          <button mat-button color="primary" (click)="addAction()">Add</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="isConditionsOpen" (opened)="openConditionsPanel()">
        <mat-expansion-panel-header>
          <mat-panel-title>Conditions</mat-panel-title>
          <mat-panel-description>When is it available?</mat-panel-description>
        </mat-expansion-panel-header>
        <p>Under construction</p>
      </mat-expansion-panel>
      
    </mat-accordion>

    <div class="dnd-center-content dnd-margin-top">
      <button mat-button (click)="removeTopic()" color="warn">Remove Topic</button>
    </div>
  </div>
</div>
