<div *ngIf="!edit" class="ncv-topic-clickable">
    <span (click)="onClick($event)">{{ topic.label }}</span>
</div>
<div *ngIf="edit">
    <mat-card class="ncv-topic-basics">
        <mat-form-field style="width: 100%">
            <input matInput #topicContent placeholder="Topic text" [maxlength]="maximumLength" [(ngModel)]="topic.label">
            <mat-hint align="end">{{topicContent.value?.length || 0}}/{{maximumLength}}</mat-hint>
        </mat-form-field>
        <div class="ncv-topic-flags">
            <mat-checkbox [(ngModel)]="topic.goodbye">Goodbye</mat-checkbox>
            <mat-checkbox [(ngModel)]="topic.backToStart">Back to start</mat-checkbox>
        </div>
    </mat-card>

    <mat-accordion>
        <mat-expansion-panel [expanded]="currentPanel === 'lines'" (opened)="openLinesPanel()">
            <mat-expansion-panel-header>
                <mat-panel-title>Lines</mat-panel-title>
                <mat-panel-description>What is the NPC saying?</mat-panel-description>
            </mat-expansion-panel-header>

            <div *ngFor="let line of topic.lines" class="ncv-line-container">
                <ncv-dialogue-line [line]="line" [edit]="true" class="ncv-line-fill"></ncv-dialogue-line>
                <div class="ncv-line-buttons">
                    <!--<button mat-icon-button>
                        <mat-icon aria-label="Delete line">remove_circle_outline</mat-icon>
                    </button>-->
                    <button mat-icon-button>
                        <mat-icon aria-label="More">more_vert</mat-icon>
                    </button>
                </div>
            </div>

            <mat-action-row>
                <button mat-button color="primary" (click)="addLine()">Add</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="currentPanel === 'actions'" (opened)="openActionsPanel()">
            <mat-expansion-panel-header>
                <mat-panel-title>Actions</mat-panel-title>
                <mat-panel-description>What should happen?</mat-panel-description>
            </mat-expansion-panel-header>
            Under construction
            <!--<mat-list [disableRipple]="false">
                    <mat-list-item *ngFor="let line of topic.lines" [disableRipple]="false" class="ncv-line-padded">
                        <ncv-dialogue-line [line]="line" [edit]="true"></ncv-dialogue-line>
                    </mat-list-item>
                </mat-list>-->
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="currentPanel === 'conditions'" (opened)="openConditionsPanel()">
            <mat-expansion-panel-header>
                <mat-panel-title>Conditions</mat-panel-title>
                <mat-panel-description>When is it available?</mat-panel-description>
            </mat-expansion-panel-header>
            Under construction
            <!--<mat-list [disableRipple]="false">
                        <mat-list-item *ngFor="let line of topic.lines" [disableRipple]="false" class="ncv-line-padded">
                            <ncv-dialogue-line [line]="line" [edit]="true"></ncv-dialogue-line>
                        </mat-list-item>
                    </mat-list>-->
        </mat-expansion-panel>
    </mat-accordion>
</div>