<mat-toolbar color="primary" class="mat-elevation-z6 ncv-navbar">

  <button mat-icon-button [routerLink]="['/']">
    <mat-icon>
      home
    </mat-icon>
  </button>

  <span>{{ title }}</span>
  <span class="ncv-navbar-spacer"></span>

  <button mat-icon-button *ngIf="game.isEditModeAvailable" (click)="toggleEditMode()">
    <mat-icon aria-label="Toggle edit mode">
      {{ game.editMode ? 'play_arrow' : 'edit' }}
    </mat-icon>
  </button>

</mat-toolbar>
<div class="ncv-navbar-offset"></div>
