<div cdkDropList (cdkDropListDropped)="drop($event)">
  <div *ngFor="let action of actionContainer.actions; let i = index" class="dnd-item-separated" cdkDrag>
    <div class="dnd-entity-row dnd-full-width">
      <dnd-action [action]="action" (actionChange)="handleActionChange($event, i)"
        (click)="handleActionClick($event, i)">
      </dnd-action>
      <div class="dnd-margin-sides">
        <button mat-icon-button (click)="deleteAction($event, i)">
          <mat-icon aria-label="Delete Action">delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
