.dnd-action-code-clickable {
  width: 100%;

  cursor: pointer;
}

.dnd-action-name {
  color: rgb(103, 58, 183);
}

.dnd-string-value {
  color: rgb(255, 172, 64);
}

.dnd-number-value {
  color: rgb(103, 58, 183);
}
