<mat-tab-group class="dnd-tab-fill-available" [(selectedIndex)]="currentTab" mat-stretch-tabs>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>library_books</mat-icon>
    </ng-template>
    <div class="dnd-swiper" (swipeleft)="swipeLeft()">
      <dnd-item-list></dnd-item-list>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>people</mat-icon>
    </ng-template>
    <div class="dnd-swiper" (swipeleft)="swipeLeft()" (swiperight)="swipeRight()">
      <dnd-npc-list></dnd-npc-list>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>ballot</mat-icon>
    </ng-template>
    <div class="dnd-swiper" (swipeleft)="swipeLeft()" (swiperight)="swipeRight()">
      <dnd-quest-list></dnd-quest-list>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>videogame_asset</mat-icon>
    </ng-template>
    <div class="dnd-swiper" (swiperight)="swipeRight()">
      <dnd-game-details></dnd-game-details>
    </div>
  </mat-tab>

</mat-tab-group>

<div class="dnd-fab dnd-fab-right">
  <button mat-fab (click)="addEntity()">
    <mat-icon>add</mat-icon>
  </button>
</div>
