<ncv-dialogue *ngIf="isBrowser()" [dialogue]="dialogue" [edit]="false"></ncv-dialogue>
<div *ngIf="isInternetExploder()">
  <h1>Sorry</h1>
  <p>You're using Internet Exploder. This site only works in web browsers.</p>
  <p>Please, for the sake of everyone, use your Internet Exploder to download a web browser.</p>
  <p>You can choose from
    <a href="https://www.google.com/chrome/">Chrome</a>,
    <a href="https://www.mozilla.org/en-US/firefox/">Firefox</a>,
    <a href="https://www.opera.com">Opera</a> and
    <a href="https://support.apple.com/downloads/safari">Safari</a>.
  </p>
  <p>Thank you, and have a nice day.</p>
</div>