<div class="ncv-full-width" [class.ncv-split-vertical]="responsive.isDesktop()">
  <mat-card *ngIf="quest">
    <mat-form-field class="ncv-full-width">
      <textarea #questName [(ngModel)]="quest.name" [maxlength]="maximumNameLength" matInput placeholder="Name"
        matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
      <mat-hint align="end">{{questName.value?.length || 0}}/{{maximumNameLength}}</mat-hint>
    </mat-form-field>

    <mat-form-field class="ncv-full-width">
      <textarea #questDescription [(ngModel)]="quest.description" [maxlength]="maximumDescriptionLength" matInput
        placeholder="Descrpition" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="8"></textarea>
      <mat-hint align="end">{{questDescription.value?.length || 0}}/{{maximumDescriptionLength}}</mat-hint>
    </mat-form-field>
  </mat-card>

  <mat-card *ngIf="quest">
    <mat-card-title>
      Stages
    </mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let stage of quest.stages" class="ncv-quest-stage">
        {{stage.journalEntry}}
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
