.ncv-line-fill {
  width: 100%;
}

.ncv-line-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.ncv-line-buttons {
  display: flex;
  margin-right: -16px;
}