<div cdkDropList (cdkDropListDropped)="drop($event)">
  <div *ngFor="let line of lines.lines; let i = index" class="dnd-line-container" cdkDrag>
    <dnd-dialogue-line [line]="line" [edit]="true" class="dnd-line-fill"></dnd-dialogue-line>

    <div class="dnd-line-buttons">
      <button mat-icon-button *ngIf="canShowDeleteButton()" (click)="deleteLine(i)">
        <mat-icon aria-label="Delete line">delete</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-label="More">more_vert</mat-icon>
      </button>
    </div>

  </div>
</div>
