<div *ngFor="let line of lines; let i = index" class="ncv-line-container">
  <ncv-dialogue-line [line]="line" [edit]="!moveLines" class="ncv-line-fill"></ncv-dialogue-line>

  <div *ngIf="!moveLines" class="ncv-line-buttons">
    <button mat-icon-button *ngIf="canShowDeleteButton()" (click)="deleteLine(i)">
      <mat-icon aria-label="Delete line">delete</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-label="More">more_vert</mat-icon>
    </button>
  </div>
  <div *ngIf="moveLines" class="ncv-line-buttons">
    <button mat-icon-button [disabled]="isFirstLine(i)" (click)="onMoveUp(i)">
      <mat-icon aria-label="Move up">arrow_upward</mat-icon>
    </button>
    <button mat-icon-button [disabled]="isLastLine(i)" (click)="onMoveDown(i)">
      <mat-icon aria-label="Move down">arrow_downward</mat-icon>
    </button>
  </div>
</div>