<mat-card *ngIf="!edit">
    <mat-card-title>
        {{ speaker }}
    </mat-card-title>

    <mat-card-content>
        <ncv-dialogue-line [line]="dialogue.currentLine" (click)="lineClicked($event)"></ncv-dialogue-line>

        <mat-list [disableRipple]="false" *ngIf="dialogue.displayOptions">
            <mat-list-item *ngFor="let option of dialogue.options" [disableRipple]="false">
                <ncv-dialogue-topic [topic]="option" (click)="topicClicked($event)"></ncv-dialogue-topic>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
<div *ngIf="edit">
    <mat-tab-group *ngIf="responsive.isMobile()" class="ncv-tabs-fill-available">
        <mat-tab label="Topics">
            <div class="ncv-tab-card">
                <ncv-dialogue-topic-tree [dialogue]="dialogue" (topicClicked)="onTopicClicked($event)"></ncv-dialogue-topic-tree>
            </div>
        </mat-tab>
        <mat-tab label="Editor">
            <div class="ncv-tab-card">
                <ncv-dialogue-topic [topic]="currentTopic" [edit]="true"></ncv-dialogue-topic>
            </div>
        </mat-tab>
    </mat-tab-group>

    <div *ngIf="responsive.isDesktop()" class="ncv-dialogue-editor">
        <ncv-dialogue-topic-tree [dialogue]="dialogue" (topicClicked)="onTopicClicked($event)"></ncv-dialogue-topic-tree>
        <ncv-dialogue-topic [topic]="currentTopic" [edit]="true"></ncv-dialogue-topic>
    </div>
</div>