.ncv-dialogue-editor {
  display: inline-flex;
  width: stretch;
}

mat-list {
  margin-top: 8px;
}

.mat-list .mat-list-item {
  min-height: 48px;
  height: fit-content; // we want the lines to always fit content, no matter the screen size
}

@media only screen and (min-width: 600px) {
  ncv-dialogue-topic {
    margin-left: 0px;
    width: stretch;
  }

  ncv-dialogue-topic-tree {
    width: 35%;
  }
}
