.dnd-dialogue-editor {
  display: grid;
  grid-template-columns: 25% 1fr;
}

mat-list {
  margin-top: 8px;
}

.mat-list .mat-list-item {
  min-height: 48px;
  height: fit-content; // we want the lines to always fit content, no matter the screen size
}
