<mat-card>

    <mat-card-title>
        <ncv-dialogue-line [line]="currentLine" (click)="lineClicked($event)"></ncv-dialogue-line>
    </mat-card-title>

    <mat-card-content *ngIf="showTopics">
        <mat-list>
            <mat-list-item *ngFor="let option of options" [disableRipple]="false">
                <ncv-dialogue-topic [topic]="option" [edit]="edit" (click)="topicClicked($event)"></ncv-dialogue-topic>
            </mat-list-item>
        </mat-list>
    </mat-card-content>

    <mat-card-footer *ngIf="showTopics">
        <mat-chip-list>
            <mat-chip>{{ dialogue.length }} lines</mat-chip>
            <mat-chip>{{ dialogue.totalTopics }} topics</mat-chip>
            <mat-chip>{{ dialogue.totalGreetings }} greetings</mat-chip>
        </mat-chip-list>
    </mat-card-footer>

</mat-card>