/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@media only screen and (max-width: 599px) {
  body {
    overflow: hidden;
  }
}

mat-card {
  margin: 8px;
}

.ncv-tab-fill-available {
  max-height: calc(100vh - 68px);
}

.ncv-swiper {
  min-height: calc(100vh - 150px);
}

.ncv-full-width {
  width: 100%;
}

.ncv-half-width {
  width: 48%;

  +.ncv-half-width {
    margin-left: 4%;
  }
}

.ncv-entity-row {
  display: grid;
  grid-template-columns: 1fr 48px;

  > div {
    align-self: center;
  }
}

.ncv-margin-sides {
  margin: 0 8px;
}

.ncv-margin-top {
  margin-top: 8px;
}

.ncv-margin-bottom {
  margin-bottom: 8px;
}

.ncv-delete-button {
  margin-left: 24px;
}

.ncv-fab {
  position: fixed;
  bottom: 32px;
  z-index: 10;
}

.ncv-fab-right {
  right: 32px;
}

.ncv-fab-left {
  left: 32px;
}
