/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 400;
}

mat-card {
  margin: 8px;
  height: fit-content;
}

.dnd-tab-fill-available {
  max-height: calc(100vh - 68px);
}

.dnd-swiper {
  min-height: calc(100vh - 150px);
}

.dnd-full-width {
  width: 100%;
}

.dnd-half-width {
  width: 48%;

  +.dnd-half-width {
    margin-left: 4%;
  }
}

.dnd-trimmed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dnd-center-content {
  text-align: center;
}

.dnd-vertical-text-splitter {
  @extend .dnd-full-width;
  @extend .dnd-center-content;

  margin: 24px 0;
  line-height: 0.1em;
  border-bottom: 1px solid #c9c9c9;

  > span {
    padding: 0 8px; 
    color: #a2a2a2;
    background:#fff; 
  }
}

.dnd-entity-row {
  display: grid;
  grid-template-columns: 1fr 48px;

  > div {
    align-self: center;
  }
}

.dnd-split-vertical {
  display: grid;
  grid-template-columns: 50% 50%;
}

.dnd-margin-sides {
  margin: 0 8px;
}

.dnd-margin-top {
  margin-top: 8px;
}

.dnd-margin-bottom {
  margin-bottom: 8px;
}

.dnd-margin-top-bottom {
  margin: 8px 0;
}

.dnd-margin-all {
  margin: 8px;
}

.dnd-pad-top {
  padding-top: 8px;
}

.dnd-pad-bottom {
  padding-bottom: 8px;
}

.dnd-pad-sides {
  padding: 0 8px;
}

.dnd-pad-top-bottom {
  padding: 8px 0;
}

.dnd-pad-all {
  padding: 8px;
}

.dnd-delete-button {
  margin-left: 24px;
}

.dnd-fab {
  position: fixed;
  bottom: 32px;
  z-index: 10;
}

.dnd-fab-right {
  right: 32px;
}

.dnd-fab-left {
  left: 32px;
}
