<mat-card *ngIf="responsive.isMobile()">
  <dnd-line-container [lines]="dialogue.greetings.lines" (delete)="deleteGreeting($event)"></dnd-line-container>
  <mat-card-actions>
    <button mat-button color="primary" (click)="addGreeting()">Add</button>
  </mat-card-actions>
</mat-card>

<div *ngIf="responsive.isDesktop()" class="dnd-margin-sides dnd-margin-top">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Greetings</mat-panel-title>
        <mat-panel-description>
          {{ dialogue.greetings.length }} total
        </mat-panel-description>
      </mat-expansion-panel-header>

      <dnd-line-container [lines]="dialogue.greetings.lines" (delete)="deleteGreeting($event)"></dnd-line-container>

      <mat-action-row>
        <button mat-button color="primary" (click)="addGreeting()">Add</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
